{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/styles/course_card.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class="container">
<h2 class="mb-4">Favorite courses</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            {% for course in favorites %}
                {% include 'main/_course_card_block.html' %}
            {% empty %}
              <h3 class="w-100">No favorite courses</h3>
            {% endfor %}
        </div>
</div>
{% endblock %}
