{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/styles/login.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="form-wrapper">
        <h2 class="mb-4 text-center">Account login</h2>

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Invalid username or password.
            </div>
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <p class="text-center mt-3 text-muted" style="font-size: 0.9rem;">
            No account? <a href="{% url 'signup' %} text-decoration-none">Sign up</a>
        </p>
    </div>
</div>
{% endblock %}
