{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/styles/course_card.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}


{% block content %}
<div class="container">
    <h2 class="mb-4">All courses</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for course in courses %}
            {% if course.status == 'published' %}
                {% include 'main/_course_card_block.html' %}
            {% endif %}
            {% empty %}
                <p>No courses founded</p>
        {% endfor %}
    </div>
    {% endblock %}
</div>


{% block extra_js %}
<script src="{% static 'main/js/favorite.js' %}"></script>
{% endblock %}

