{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/styles/one_lesson.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class="lesson-container mx-auto mt-4">

    <div class="lesson-description">
        <div class="text-center position-relative mb-4">
            <h2 class="lesson-title">{{ lesson.lesson_name }}</h2>
            {% if user == lesson.author %}
                <div class="position-absolute top-0 end-0 d-flex gap-2">
                    <a href="{% url 'update_lesson' lesson.pk %}" class="btn btn-primary btn-sm w-50 text-decoration-none">Edit</a>
                    <a href="{% url 'delete_lesson' lesson.pk %}" class="btn btn-danger btn-sm w-50 text-decoration-none">Delete</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="lesson-description">
        <h5>Description:</h5>
        <p>{{ lesson.description }}</p>
    </div>

    <div class="video-wrapper mb-4">
        {% if lesson.video %}
            <video controls class="w-100 rounded shadow-sm">
                <source src="{{ lesson.video.url }}" type="video/mp4">
                Oops! Looks like your browser can't play this video. Try updating your browser or switching to another one.
            </video>
        {% else %}
            <div class="alert alert-warning text-center">
                Video is missing
            </div>
        {% endif %}
    </div>
</div>

{% block nav %}
{% endblock %}

<div class="lesson-container mx-auto mt-4">
    {% include 'main/_notes_block.html' %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'main/js/one_lesson.js' %}"></script>
{% endblock %}

