{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/styles/one_course.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    <div class="text-center mb-5 position-relative">
        {% if user.username == course.author.username %}
            <div class="position-absolute top-0 end-0">
                <a href="{% url 'update_course' course.pk %}" class="btn btn-primary btn-sm me-2 text-decoration-none">Update</a>
                <a href="{% url 'delete_course' course.pk %}" class="btn btn-danger btn-sm text-decoration-none">Delete</a>
            </div>
        {% endif %}

        <h1 class="mb-3">{{ course.course_name }}</h1>

        <span class="badge
            {% if course.level == 'starter_level' %}bg-primary
            {% elif course.level == 'middle_level' %}bg-warning text-dark
            {% elif course.level == 'advanced_level' %}bg-danger
            {% else %}bg-secondary
            {% endif %}
        ">
            {{ course.get_level_display }}
        </span>
    </div>


    <div class="mb-4">
        <h4>Course description</h4>
        <p>{{ course.description }}</p>
    </div>

    <div class="mb-5">
        <h4>Lessons:</h4>
        <ol class="ps-3 text-muted">
            {% for lesson in ordered_lesson %}
                <li>{{ lesson.lesson_name }}</li>
            {% empty %}
                <p>No lessons</p>
            {% endfor %}
        </ol>
    </div>

    <div class="text-center mt-3">
        <a href="{% url 'start_course' course.pk %}" class="btn btn-success text-decoration-none">Start course</a>
    </div>

    <div class="text-end text-muted">
        Author: {{ course.author.username }}<br>
        Published: {{ course.date_of_publication }}
    </div>

</div>
{% endblock %}
