{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/styles/update_lesson.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="form-wrapper">
        <h2 class="mb-4 text-center">Update Lesson</h2>
        <form method="post" enctype="multipart/form-data" id="lessonForm">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.lesson_name.label_tag }}
                {{ form.lesson_name }}
            </div>

            <div class="mb-3">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>

            <div class="mb-3">
                <label for="id_video" class="form-label">Video lesson</label>
                {{ form.video }}
                {% if form.instance.video %}
                    <div class="form-text">
                        Current video: <strong>{{ form.instance.video.name }}</strong>
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-success w-100">Update</button>
        </form>
    </div>
</div>
{% endblock %}
